body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    text-align: center;
    margin-top: 80px;
}

.container {
    width: 70%;
    margin: auto;
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

h1 {
    color: #0b5394;
}

p {
    font-size: 18px;
}
